// ==== CONFIGURATION ==== //

//container sizes can be edit
$cnt-tb:750px;
$cnt-tbl:90%;
$cnt-desk:1150px;

// Images path use css
// ------------------------------------------------
$imgs: '../img/cssimgs/';

// Define colors
// ------------------------------------------------
$brand-primary: #000;
$brand-second: #777;

// Fonts
// ------------------------------------------------
$font-path: '../fonts/';

$ff-roboto: 'Roboto', sans-serif;
