// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

/**
 * Path to images to read from css
 */
$imagesPath: 'images/';

/**
 * Define global colors
 */
$brand-primary: #01539f;
$brand-secondary: #ff6702;
$brand-tertiary: #23f700;

$body-bg: #fff;

$primary-font-color: #2a2a2a;

/**
 * Fonts
 */
